* { box-sizing: border-box; }

body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 16px;
  background-color: #333;
}

body, ul {
  margin: 0;
  padding: 0;
}

.top {
  background-color: #EFECE7;
  text-align: center;
}
.header {
  font-family: Arizonia, 'Times New Roman', serif;
  font-size: 90px;
  font-weight: bold;
  color: #4F4949;
  padding: 20px 0 40px 0;
}
.spinner {
  padding-bottom: 20px;
}

.spinner-table {
  margin: 0 auto;
  border-spacing: 5px 0;
}
.spinner-header {
  padding-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ACA9A4;
}
.spinner-table td {
  vertical-align: top;
  text-align: center;
  padding: 0px 10px 0px 10px;
  background-color: #F7F6F2;
  border-radius: 10px;
}

.spinner-list-container {
  height: 180px;
  width: 210px;
  overflow: hidden;
  position: relative;
}
.spinner-list {
  width: 210px;
  list-style-type: none;
}
.spinner-item {
  padding: 80px 0px 80px 0px;
  line-height: 20px;
  color: #D95D29;
  font-weight: bold;
  font-size: 20px;
}

.actions {
  background-color: #EFECE7;
  padding: 20px 0 40px 0;
  text-align: center;
}
.spin-button {
  font-size: 30px;
  font-weight: bold;
  background-color: #DA5C2A;
  color: #FFFEFC;
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
  cursor: pointer;
}

.settings {
  padding: 20px;
  background-color: #4F4949;
}
.settings h1 {
  font-family: Lucida Grande;
  font-size: 18px;
  color: #FFFEFC;
  text-align: center;
}
.settings-exclusions {
  text-align: center;
  color: #FFFEFC;
  margin: 0 0 10px 0;
}
.settings-exclusions input {
  margin-right: 5px;
  margin-left: 20px;
}
.settings-exclusions h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ACA9A4;
}
.ingredients-table {
  margin: 0 auto;
}
.ingredients-table td {
  vertical-align: top;
  color: #fff;
  line-height: 24px;
  padding: 5px 40px 5px 40px;
}
.ingredients-header {
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  color: #ACA9A4;
  padding-left: 40px;
}
.ingredient-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about {
  background-color: #333;
  text-align: center;
}
.about h1 {
  margin: 0;
  font-family: Arizonia, 'Times New Roman', serif;
  font-size: 40px;
  color: #FFFEFC;
  padding: 20px;
}
.about p {
  width: 900px;
  margin: 20px auto;
  line-height: 20px;
  color: #ACA9A4;
  font-size: 16px;
}
.about a {
  color: #DA5C2A;
}
.about .contact {
  font-size: 14px;
}
.about .copyright {
  font-size: 12px;
}
