* { box-sizing: border-box; }

body {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 14px;
}

body, ul {
  margin: 0;
  padding: 0;
}

.header, .spinner {
  background-color: #EFECE7;
  text-align: center;
}
.header {
  font-family: Arizonia, 'Times New Roman', serif;
  font-size: 90px;
  font-weight: bold;
  color: #4F4949;
  padding: 20px 0 40px 0;
}
.spinner {
  padding-bottom: 20px;
}

.spinner-table {
  margin: 0 auto;
  border-spacing: 10px 0;
}
.spinner-header {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: normal;
  color: #ACA9A4;
}
.spinner-table td {
  vertical-align: top;
  text-align: center;
  padding: 0px 10px 0px 10px;
  background-color: #F7F6F2;
  border-radius: 10px;
}

.spinner-list-container {
  height: 140px;
  width: 150px;
  overflow: hidden;
  position: relative;
}
.spinner-list {
  width: 150px;
  list-style-type: none;
}
.spinner-item {
  padding: 60px 0px 60px 0px;
  line-height: 20px;
  color: #D95D29;
  font-weight: bold;
}

.actions {
  background-color: #EFECE7;
  padding: 20px;
  text-align: center;
}
.spin-button {
  font-size: 14px;
  background-color: #DA5C2A;
  color: #FFFEFC;
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
}

.about {
  background-color: #4F4949;
  min-height: 700px;
}
.about h1 {
  margin: 0;
  font-family: Arizonia, Georgia, serif;
  font-size: 40px;
  color: #FFFEFC;
  text-align: center;
  padding: 20px;
}
