<!DOCTYPE html>
<html lang="en-us" ng-app>
<head>
  <meta charset="utf-8">
  <title>PaleoSpin</title>
  <link rel="stylesheet" type="text/css" href="css/paleospin.css" />
  <script src="js/angular.min.js"></script>
  <script src="js/paleospin.js"></script>
  <script src="js/proteins.js"></script>
  <script src="js/veggies.js"></script>
  <script src="js/carbs.js"></script>
  <script src="js/fats.js"></script>
  <script src="js/spices.js"></script>
</head>
<body>
  <div class="spin-container" ng-controller="SpinCtrl">
    <div class="spin-column">
      <h1>Proteins</h1>
      <ul>
        <li class="spin-item" ng-repeat="protein in proteins()">
          {{protein}}
        </li>
      </ul>
    </div>
    <div class="spin-column">
      <h1>Vegetables</h1>
      <ul>
        <li class="spin-item" ng-repeat="veggie in veggies()">
          {{veggie}}
        </li>
      </ul>
    </div>
    <div class="spin-column">
      <h1>Carbs</h1>
      <ul>
        <li class="spin-item" ng-repeat="carb in carbs()">
          {{carb}}
        </li>
      </ul>
    </div>
    <div class="spin-column">
      <h1>Fats</h1>
      <ul>
        <li class="spin-item" ng-repeat="fat in fats()">
          {{fat}}
        </li>
      </ul>
    </div>
    <div class="spin-column">
      <h1>Herbs & Spices</h1>
      <ul>
        <li class="spin-item" ng-repeat="spice in spices()">
          {{spice}}
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
