<!DOCTYPE html>
<html lang="en-us" ng-app>
<head>
  <meta charset="utf-8">
  <title>PaleoSpin</title>
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/paleospin.css" />
</head>
<body>
  <div class="top">
    <div class="header">
      PaleoSpin
    </div>
    <div class="spinner">
      <table class="spinner-table" ng-controller="SpinCtrl">
        <tr>
          <th class="spinner-header">Proteins</th>
          <th class="spinner-header">Vegetables</th>
          <th class="spinner-header">Carbs</th>
          <th class="spinner-header">Fats</th>
          <th class="spinner-header">Herbs & Spices</th>
        </tr>
        <tr>
          <td>
            <div class="spinner-list-container">
              <ul class="spinner-list">
                <li class="spinner-item" ng-repeat="protein in proteins()">
                  {{protein.name}}
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div class="spinner-list-container">
              <ul class="spinner-list">
                <li class="spinner-item" ng-repeat="veggie in veggies()">
                  {{veggie.name}}
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div class="spinner-list-container">
              <ul class="spinner-list">
                <li class="spinner-item" ng-repeat="carb in carbs()">
                  {{carb.name}}
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div class="spinner-list-container">
              <ul class="spinner-list">
                <li class="spinner-item" ng-repeat="fat in fats()">
                  {{fat.name}}
                </li>
              </ul>
            </div>
          </td>
          <td>
            <div class="spinner-list-container">
              <ul class="spinner-list">
                <li class="spinner-item" ng-repeat="spice in spices()">
                  {{spice.name}}
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="actions">
      <button id="spin-button" class="spin-button">Spin</button>
    </div>
  </div>
  <div class="settings" ng-controller="SettingsCtrl">
    <h1>Turn On/Off Ingredients</h1> 
    <table class="ingredients-table">
      <tr>
        <th class="ingredients-header">Proteins</th>
        <th class="ingredients-header">Vegetables</th>
        <th class="ingredients-header">Carbs</th>
        <th class="ingredients-header">Fats</th>
        <th class="ingredients-header">Herbs & Spices</th>
      </tr>
      <tr>
        <td>
          <ul class="ingredient-list">
            <li ng-repeat="protein in proteins()">
              <label>
                <input class="ingredient-toggle spinner-reset" ng-checked="protein.enabled" ng-model="protein.enabled" type="checkbox" /> {{protein.name}}
              </label>
            </li>
          </ul>
        </td>
        <td>
          <ul class="ingredient-list">
            <li ng-repeat="veggie in veggies()">
              <label>
                <input class="ingredient-toggle spinner-reset" ng-checked="veggie.enabled" ng-model="veggie.enabled" type="checkbox" /> {{veggie.name}}
              </label>
            </li>
          </ul>
        </td>
        <td>
          <ul class="ingredient-list">
            <li ng-repeat="carb in carbs()">
              <label>
                <input class="ingredient-toggle spinner-reset" ng-checked="carb.enabled" ng-model="carb.enabled" type="checkbox" /> {{carb.name}}
              </label>
            </li>
          </ul>
        </td>
        <td>
          <ul class="ingredient-list">
            <li ng-repeat="fat in fats()">
              <label>
                <input class="ingredient-toggle spinner-reset" ng-checked="fat.enabled" ng-model="fat.enabled" type="checkbox" /> {{fat.name}}
              </label>
            </li>
          </ul>
        </td>
        <td>
          <ul class="ingredient-list">
            <li ng-repeat="spice in spices()">
              <label>
                <input class="ingredient-toggle spinner-rest" ng-checked="spice.enabled" ng-model="spice.enabled" type="checkbox" /> {{spice.name}}
              </label>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class="about">
    <h1>About PaleoSpin</h1>
    <p>
      The Paleo Diet has become extremely popular, likely due to its simplicity and high level of success.  I've seen many friends and colleagues adopt it and make lifelong changes in their health and lifestyle.  
    </p>
    <p>
      A common challenge to overcome is preventing boredom, while keeping meals fast and simple to prepare.  I have long used <a target="_blank" href="http://www.robbwolf.com">Robb Wolf's</a> awesome <a target="_blank" href="http://robbwolf.com/wp/wp-content/uploads/2011/10/thePaleoSolution_FoodMatrix.pdf">Paleo Food Matrix</a> as my most trusted tool for this purpose.  Simply pick any combination of ingredients from the matrix and you're all set to prepare thousands of different meals.
    </p>
    <p>
      PaleoSpin is a simple, slightly modified, interactive version of Robb's matrix that will randomly select a meal for you. I hope that it will serve as my contribution back to what Paleo has given me and help someone put a quick, easy Paleo meal on their table for dinner.
    </p>
    <p>
      PaleoSpin is open source software.  If you know a thing or two about writing software and/or Paleo nutrition, please check out the <a target="_blank" href="https://github.com/leemuro/paleospin">GitHub page</a> and contribute.  I have lots of ideas for PaleoSpin that you could help bring to life.
    </p>
    <p class="contact">
      E-mail me at <a target="_blank" href="mailto:lee@leemuro.com">lee@leemuro.com</a> or follow <a target="_blank" href="http://twitter.com/paleospin">@paleospin</a> on Twitter
    </p>
  </div>
  <script src="lib/angular.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/jquery-1.9.1.min.js"></script>
  <script src="js/paleospin.js"></script>
  <script src="js/spinner.js"></script>
  <script src="js/proteins.js"></script>
  <script src="js/veggies.js"></script>
  <script src="js/carbs.js"></script>
  <script src="js/fats.js"></script>
  <script src="js/spices.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39844939-1']);
    _gaq.push(['_setDomainName', 'paleospin.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
